/*
Theme Name:         Arc Child - Tax & Trust
Theme URI:          http://bizinkonline.com/
Version:            1.2
Author:             Bizink
Author URI:         http://bizinkonline.com/
Text Domain:        bizink
Template:           arc
*/